.slider .btn{
    margin-top: 25px;
}


.autocomplete-content{
    position: absolute;
    width: 100%;
    text-align: center;
}

.section-follow .fa-3x{
    margin: 5px 10px;
}

.section-contact h5{
    margin-bottom: 30px;
}